* {
	transition: 1s;
	font-family: Arial, Helvetica, sans-serif;
}
.conteiner-for-main {
	width: 95%;
	position: relative;
	margin: 0 auto;
}
.box-for-text {
	margin-top: 2pc;
	text-align: center;
}
.text-min {
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
	margin: 0;
	text-shadow: 1px 1px 1px rgb(100, 100, 100), 2px 2px 4px rgb(134, 134, 134);
}
.text-big {
	font-family: "Nike Futura ND", "Helvetica Now Text Medium", Helvetica, Arial,
		sans-serif;
	font-weight: bolder;
	font-optical-sizing: auto;
	font-variant-alternates: normal;
	font-stretch: 100%;
	font-size-adjust: none;
	font-size: clamp(3rem, 7vw, 5rem);
	letter-spacing: -0.2pc;
	font-language-override: normal;
	font-feature-settings: normal;
	margin: 0;
	text-transform: uppercase;
	color: rgb(17, 17, 17);
	text-shadow: 3px 3px 1px rgb(100, 100, 100), 6px 6px 8px rgb(197, 197, 197);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
.many-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: 400;
	text-shadow: 0.2px 0.2px 0.1px rgb(100, 100, 100),
		1px 1px 2px rgb(134, 134, 134);
	line-height: 1.5;
	color: #121212;
}
.link_shop {
	width: 120px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	left: 50%;
	margin-top: 3pc;
	transform: translate(-50%);
	height: 30px;
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
}

@media (max-width: 600px) {
	.box-for-text {
		text-align: start;
	}
	.link_shop {
		left: auto;
		transform: translate(0);
	}
	.text-big {
		text-shadow: 1px 1px 0.1px black;
	}
	.text-min {
		margin: 0.5pc;
	}
}

.box-for-pictures {
	width: 100%;
	margin-top: 6pc;
}
.box_objekt {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}
.box_objekt_img_text {
	width: 50%;
	margin: 5px;
}
.box_objekt_img__img {
	width: 100%;
}

/* my */
.my{
}
.classic__text{
font-size: 25px;
}
.images{
width: 100%;
height: 100%;
display: flex;
overflow-x: scroll;
scroll-snap-type: x mandatory;
transition: transform 0.3s ease;
}
.photos{
	min-width: 32%;
	margin: 8px;
	position: relative;
}
.text__movie{
	color: black;
	font-size: 3rem;
	position: absolute;
	top: 30%;
	left: 10%;
	font-family: "Luckiest Guy", cursive;
	font-weight: 400;
	font-style: normal;
  }
.box__pictures{
	width: 100%;
	height: 100%;
	scroll-snap-align: start;
}
.arrow1{
position: absolute;
bottom: 43%;
left: 1%;
width: 5%;
height: 3%;
z-index: 1;
background-color: #fff;
border-radius: 50%;
font-size: 30px;
}
.arrow2{
	position: absolute;
	bottom: 43%;
	right: 1%;
	width: 5%;
height: 3%;
	z-index: 1;
	background-color: #fff;
	border-radius: 50%;
	font-size: 30px;
	}

	@media screen and (max-width: 960px) {
		.photos {
			min-width: 40%; 
			margin: 8px 0; 
		}
	
		.arrow1,
		.arrow2 {
			width: 10%; 
			height: 5%;
			font-size: 20px; 
		}
	}
	@media screen and (max-width: 550px) {
		.photos{
			min-width: 90%;
		}
	}
	.second__text{
		font-size: 25px;
		display: flex;
		justify-content: space-between;
	}
	.classic__btn{
		font-size: 25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	}
	.second__images{
			width: 100%;
			height: 100%;
			display: flex;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			transition: transform 0.3s ease;
	}
	.second__photos{
		min-width: 40%;
		margin: 8px;
		position: relative;
	}
.second__photos__img{
	width: 100%;
}
@media screen and (max-width: 768px) {
    .second__photos {
        min-width: 100%; 
        margin: 8px 0; 
    }
}